body {
    width: 515px;
    height: 100%;
}

.grid-rofls {
    display: grid;
    gap: 10px;
    grid-template-columns: 300px 200px;
    grid-template-rows: 300px;
}

button { 
    margin: 3px;
    width: 100%;
}

.list-urls {
background: white;
border: 1px solid;
border-color: black;
overflow: scroll;
overflow-x: hidden;
}
